name: Wisecow CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: kirankumars/wisecowapp:latest
    
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up Google Cloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        service_account_key: ${{ secrets.GKE_APPLICATIONS_CREDENTIALS}}
        project_id: docker-practice-430705
    
    - name: Authenticate to GKE
      run: |
        gcloud config set project docker-practice-430705
        gcloud container clusters get-credentials wisecowapp --zone us-central1-c --project docker-practice-430705
    
    - name: Create TLS secret
      run: |
        kubectl create secret tls wisecow-tls --cert=ProblemStatement-1/tls.crt --key=ProblemStatement-1/tls.key --dry-run=client -o yaml | kubectl apply -f -
    
    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f ProblemStatement-1/deployment.yaml
        kubectl apply -f ProblemStatement-1/service.yml
        kubectl apply -f ProblemStatement-1/ingress.yml
